{% extends 'app/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}


<center>
 <h3> What is Fresh From Fram ? </h3>
 <p>
    Fresh From Fram (Innovative Retail Concepts Private Limited) is Ireland's largest online food and grocery store. 
 </br>With over 18,000 products and over a 1000 brands in our catalogue you will find everything you are looking for.
</br> Right from fresh Fruits and Vegetables, Rice and Dals, Spices and Seasonings to Packaged products, Beverages, 
</br>Personal care products, Meats – we have it all.
</br>
    Choose from a wide range of options in every category, exclusively handpicked to help you find the best quality 
</br>available at the lowest prices. Select a time slot for delivery and your order will be delivered right to your 
</br>doorstep, anywhere in Ireland. You can pay online using your debit / credit card or by cash on delivery.
</br>
    We guarantee on time delivery, and the best quality!
</p>

</center>



{% endblock main-content %}